
img#porquinho {
      width: 300px; /* Defina o tamanho desejado */
      height: auto; /* Mantém a proporção da imagem */
      position: absolute; /* Posição absoluta para ajustar a posição */
      top: 85px; /* Ajusta a distância do topo */
      left: 00px; /* Ajusta a distância da esquerda */
  }


/* Estilos para a linha horizontal contínua */
.linha-horizontal {
      width: 50%; /* Defina a largura total da linha */
      height: 1.5px; /* Defina a espessura da linha */
      background-color: black; /* Cor da linha */
      margin: 20px 0; /* Espaçamento acima e abaixo da linha */
      margin-top: 330px; /* Espaçamento acima da linha - ajuste esse valor */
  }
  


img#moeda-1 {
      width: 100px; /* Defina o tamanho desejado */
      height: auto; /* Mantém a proporção da imagem */
      position: absolute; /* Posição absoluta para ajustar a posição */
      top: 410px; /* Ajusta a distância do topo */
      left: 00px; /* Ajusta a distância da esquerda */
  }

img#moeda-50 {
      width: 70px; /* Defina o tamanho desejado */
      height: auto; /* Mantém a proporção da imagem */
      position: absolute; /* Posição absoluta para ajustar a posição */
      top: 410px; /* Ajusta a distância do topo */
      left: 100px; /* Ajusta a distância da esquerda */
  }

img#moeda-25 {
      width: 73px; /* Defina o tamanho desejado */
      height: auto; /* Mantém a proporção da imagem */
      position: absolute; /* Posição absoluta para ajustar a posição */
      top: 410px; /* Ajusta a distância do topo */
      left: 180px; /* Ajusta a distância da esquerda */
  }

img#moeda-5 {
      width: 80px; /* Defina o tamanho desejado */
      height: auto; /* Mantém a proporção da imagem */
      position: absolute; /* Posição absoluta para ajustar a posição */
      top: 407px; /* Ajusta a distância do topo */
      left: 260px; /* Ajusta a distância da esquerda */
  }

img#moeda-1c {
      width: 70px; /* Defina o tamanho desejado */
      height: auto; /* Mantém a proporção da imagem */
      position: absolute; /* Posição absoluta para ajustar a posição */
      top: 414px; /* Ajusta a distância do topo */
      left: 350px; /* Ajusta a distância da esquerda */
  }


img#nota-1 {
      width: 200px; /* Defina o tamanho desejado */
      height: auto; /* Mantém a proporção da imagem */
      position: absolute; /* Posição absoluta para ajustar a posição */
      top: 506px; /* Ajusta a distância do topo */
      left: 00px; /* Ajusta a distância da esquerda */
  }
  
img#nota-2 {
      width: 190px; /* Defina o tamanho desejado */
      height: auto; /* Mantém a proporção da imagem */
      position: absolute; /* Posição absoluta para ajustar a posição */
      top: 600px; /* Ajusta a distância do topo */
      left: 00px; /* Ajusta a distância da esquerda */
  }
  
img#nota-5 {
      width: 200px; /* Defina o tamanho desejado */
      height: auto; /* Mantém a proporção da imagem */
      position: absolute; /* Posição absoluta para ajustar a posição */
      top: 710px; /* Ajusta a distância do topo */
      left: 00px; /* Ajusta a distância da esquerda */
  }

img#nota-10 {
      width: 200px; /* Defina o tamanho desejado */
      height: auto; /* Mantém a proporção da imagem */
      position: absolute; /* Posição absoluta para ajustar a posição */
      top: 820px; /* Ajusta a distância do topo */
      left: 00px; /* Ajusta a distância da esquerda */
  }

img#nota-20 {
      width: 200px; /* Defina o tamanho desejado */
      height: auto; /* Mantém a proporção da imagem */
      position: absolute; /* Posição absoluta para ajustar a posição */
      top: 506px; /* Ajusta a distância do topo */
      left: 230px; /* Ajusta a distância da esquerda */
  }

img#nota-50 {
      width: 200px; /* Defina o tamanho desejado */
      height: auto; /* Mantém a proporção da imagem */
      position: absolute; /* Posição absoluta para ajustar a posição */
      top: 600px; /* Ajusta a distância do topo */
      left: 230px; /* Ajusta a distância da esquerda */
  }